<h1>Tickets</h1>

<table>
  <tr>
    <th>Client</th>
    <th>Title</th>
    <th>Text</th>
    <th>User</th>
    <th>Severity</th>
    <th>State</th>
    <th>Category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @troubles.each do |trouble| %>
  <tr>
    <td><%= trouble.client.name %></td>
    <td><%= trouble.title %></td>
    <td><%= trouble.text %></td>
    <td><%= trouble.user.name %></td>
    <td><%= trouble.severity %></td>
    <td><%= trouble.state %></td>
    <td><%= trouble.category %></td>
    <td><%= link_to 'Show', trouble %></td>
    <td><%= link_to 'Edit', edit_trouble_path(trouble) %></td>
    <td><%= link_to 'Destroy', trouble, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Trouble', new_trouble_path %>
