<h1>Gestion de Conocimiento</h1>
 <%= image_tag "aportes.png" %><%= image_tag "aportes.png" %>
<%= form_tag({:controller => "articles", :action => "index"}, :method => :get) do %>

    <%= text_field_tag "searchbox", params[:searchbox] %>

    <%= submit_tag "Buscar", class: 'button' %>

<% end %>

<hr>


<%= link_to 'Nuevo aporte', new_article_path %>

<% @articles.each do |article| %>
<hr>
 <div class="row">
 <div class="columns large-9 medium-6">
 <h2><%= link_to article.title, article %></h2>
 <blockquote>
      <cite><%= article.user.name %> - <em><%= time_ago_in_words(article.created_at) %> ago</em></cite>
       </blockquote>
  </div>


   <div class="columns large-3 medium-6">
   <ul class="inline-list">
  

    <li><%= link_to 'Editar', edit_article_path(article) %></li>
    <li><%= link_to 'Eliminar', article, method: :delete, data: { confirm: 'Desea eliminar este aporte?' } %></li>
    </ul>
    </div>
    </div>
<% end %>








