<h1>Clientes</h1>

<table>
  <tr>
    <th>Cliente</th>
    <th>Direccion</th>
    <th>Telefono</th>
    <th>Email</th>
    <!-- <th>Usuario</th> -->
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clients.each do |client| %>
  <tr>
    <td><%= client.name %></td>
    <td><%= client.address %></td>
    <td><%= client.phone %></td>
    <td><%= client.email %></td>
    <!-- <td><%= client.user_id %></td> -->
    <td><%= link_to 'Mostrar', client %></td>
    <td><%= link_to 'Editar', edit_client_path(client) %></td>
    <td><%= link_to 'Eliminar', client, method: :delete, data: { confirm: 'Desea eliminar este cliente?' } %></td>
  </tr>
<% end %>
</table>

<br />


<h3><%= link_to 'Nuevo Cliente', new_client_path %></h3>



